<section class="list-section">
  <div class="list-header">
    <h2>FAVORITE MOVIES</h2>
    <PowerSelect
      @selected={{@destination}}
      @options={{@options}}
      @onChange={{@chooseDestination}}
      class="power-select"
      as |name|
    >
      {{name}}
    </PowerSelect>
  </div>
  <div>
    <ul class="list">
      <li>Select</li>
      <li>ID</li>
      <li>Title</li>
      <li>Director</li>
      <li>Watched On</li>
      <li>Edit</li>
      <li>Actions</li>
    </ul>
  </div>

  <div class="table-container">
    <LiquidSpacer @growDuration={{250}}>
      <table>
        {{#if (gt @filteredMovies.length 0)}}
          <tbody id="movieList" class="movieList">
            {{#if (or @deleteAll.isRunning @deleteSelected.isRunning)}}
              <tr class="loading-row">
                <td colspan="12">
                  <div class="spinner-container">
                    <div class="spinner"></div>
                    <div class="loading-text">Deleting movies...</div>
                  </div>
                  <button
                    class="delete-button
                      {{if
                        (or @deleteAll.isRunning @deleteSelected.isRunning)
                        'highlight-cancel'
                      }}" type="button" {{on "click" @undoAll}}
                  >Cancel</button>
                </td>
              </tr>
            {{else}}
              <VerticalCollection
                @items={{@filteredMovies}}
                @estimateHeight={{52}}
                @staticHeight={{true}}
                @bufferSize={{10}}
                @renderAll={{false}}
                @containerSelector=".table-container"
                as |movie|
              >
                <tr>
                  <td class="select-column">
                    <label class="checkbox-container">
                      <input
                        type="checkbox"
                        value={{movie.id}}
                        {{on "change" (fn @toggleSelect movie.id)}}
                      />
                      <span class="checkmark"></span>
                    </label>
                  </td>
                  <td>{{movie.id}}</td>

                  {{#if (not-eq movie.title "")}}
                    <td>{{movie.title}}</td>
                  {{else}}
                    <td class="missing-data">No title found!</td>
                  {{/if}}

                  {{#if (not-eq movie.director "")}}
                    <td>{{movie.director}}</td>
                  {{else}}
                    <td class="missing-data">Name not found!</td>
                  {{/if}}
                  

                  {{#if (not-eq movie.releaseDate "")}}
                    <td>{{movie.releaseDate}}</td>
                  {{else}}
                    <td class="missing-data">Not watched!</td>
                  {{/if}}

                  <td>
                    <button
                      class="edit-icon"
                      type="button"
                      {{on "click" (fn @editMovie movie.id)}}
                    >✏️</button>
                  </td>
                  <td class="actions-column">
                    <button
                      class="delete-btn"
                      type="button"
                      {{on "click" (perform @deleteMovie movie.id)}}
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </VerticalCollection>
            {{/if}}
          </tbody>
        {{else}}
          <tr>
            <td colspan="12" class="empty-state">No movies added yet</td>
          </tr>
        {{/if}}
      </table>
    </LiquidSpacer>
  </div>
</section>