{{page-title "AddMovie"}}
<div class="container">
  <AddMovieForm
    @newTitle={{this.newTitle}}
    @updateTitle={{this.updateTitle}}
    @newDirector={{this.newDirector}}
    @updateDirector={{this.updateDirector}}
    @newReleaseDate={{this.newReleaseDate}}
    @updateReleaseDate={{this.updateReleaseDate}}
    @addMovie={{this.addMovie}}
    @cancel={{this.cancel}}
    @center={{this.center}}
    @updateMonth={{this.updateMonth}}
    @selected={{this.selected}}
    @onSelect={{this.onSelect}}
    @isCalendarOpen={{this.isCalendarOpen}}
    @toggleCalendar={{this.toggleCalendar}}
    @focusInput={{this.focusInput}}
  />
</div>
{{outlet}}