
<div class="block-container">
  <div>

  <h3 class="sub-title">Dynamic content VC</h3> 
 
<div class="main" {{on-key "Escape" this.goBack}}>
  <div class="vertical-collection-container">
    <VerticalCollection
      @items={{@model.numbers}}
      @estimateHeight={{40}}
      @containerSelector=".vertical-collection-container"
      @bufferSize={{10}}
      as |item index|
    >
      <DynamicContent
        @item={{item.number}}
        @index={{index}}
        @isDynamic={{true}}
        @text={{item.text}}
      />
    </VerticalCollection>
    
  </div>
  
</div>
</div></div>



 
 
 
 