<div class="container">
  <h1 class="main-title">Movie Collection</h1>
  <SearchMovies @updateSearch={{this.updateSearch}} />
  <MovieTable
    @deleteSelected={{this.deleteSelected}}
    @filteredMovies={{this.filteredMovies}}
    @toggleSelect={{this.toggleSelect}}
    @editMovie={{this.editMovie}}
    @deleteMovie={{this.deleteMovie}}
    @destination={{this.destination}}
    @options={{this.options}}
    @chooseDestination={{this.chooseDestination}}
    @deleteAll={{this.deleteAll}}
    @undoAll={{this.undoAll}}
  />
  <section class="actions">
    <h3 class="new-movie-head">Add a new movie to the list</h3>
    <button class="add-movie-button" type="button" {{on "click" this.navigateToAddMovie}} {{on-key "Ctrl+Enter" this.navigateToAddMovie}}>Add
      Movie</button>
  </section>
</div>